<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagar.screenshift2" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupContent="true"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ScreenShiftService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sagar.screenshift2.MainActivity" />
        </activity>

        <provider
            android:name=".profileDb.ProfileDbProvider"
            android:authorities="com.sagar.screenshift2.app"
            android:exported="false" />

        <receiver android:name=".CallStateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="com.android.deskclock.ALARM_DONE" />
                <action android:name="com.android.deskclock.ALARM_ALERT" />
                <action android:name="com.android.deskclock.ALARM_DISMISS" />
                <action android:name="com.android.deskclock.ALARM_SNOOZE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ProductTourActivity"
            android:label="@string/title_activity_product_tour"
            android:theme="@style/Theme.MyTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sagar.screenshift2.MainActivity" />
        </activity>
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/title_activity_profiles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sagar.screenshift2.MainActivity" />
        </activity>
    </application>

</manifest>
